<h1> Hello <%= @uniquename %> </h1>
<table id = "login-table">
  <tr>
    <td style = "text-decoration: bold">Domain Name</td>
    <td style = "text-decoration: bold">Username</td>
    <td style = "text-decoration: bold">Password</td>
  </tr>
  <% @logins.each do |login| %>
  <tr>
    <td> <%= login.domain %> </td>
    <td> <%= login.username %> </td>
    <td> <%= login.password %> </td>
  </tr>
  <% end %>
</table>

<form action = "/users/<%=@id%>/logins" method = "post" id = "new-login-form">
  <label for = "domain">Website: </label>
  <input type = "text" name = "domain"><br>
  <label for = "username">Username: </label>
  <input type = "text" name = "username"><br>
  <label for = "password">Password: </label>
  <input type = "password" name = "password"><br>
  <input type = "hidden" value = <%= @id %> name = "user_id">
  <input type = "submit" value = "Submit">
</form>
